.tabB {
  border-color: #e2e2e2;
  font-family: Source Sans Pro;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.25999999046325684px;
  text-align: left;
}

.line {
  margin-top: 0;
  border: 0.03125rem solid #e2e2e2;
}
